.hidden {
  display: none;
}

.soundwave {
  align-content: left;
  padding-left: 20pt;
  margin-left: 20pt;
}

.h1 {
  font-size: 10pt;
  font-family:'Chilanka', cursive;
}

.btnfreeze {
  margin-top: 700pt;
}
